Repository ClickHouse/clickhouse-docs, pull requests merged in 2024-07, with the labels that each got.

#2452 Add limitation on x-cloud role auth for S3 clickpipes.
  docs/en/integrations/data-ingestion/clickpipes/object-storage.md
Labels: cloud

#2494 Update Solarwinds to adopters.md
  docs/en/about-us/adopters.md
Labels: adopters

#2491 Update Nutanix in adopters.md
  docs/en/about-us/adopters.md
Labels: adopters

#2336 Fix bug for English language redirect
  docusaurus.config.js
Labels: bug
