Repository ClickHouse/clickhouse-docs, pull requests merged in 2024-08, with the labels that each got.

#2560 [Integrations] Updates Goldsky logo
  docs/en/integrations/images/logos/goldsky.svg
  docs/en/integrations/images/logos/goldsky.webp
  docs/en/integrations/index.mdx
Labels: integrations

#2563 Fix heading of airbyte-and-clickhouse.md page
  docs/en/integrations/data-ingestion/etl-tools/airbyte-and-clickhouse.md
Labels: bug

#2597 Add new Prometheus page to sidebar
  sidebars.js
Labels: bug

#2595 Update adopters.md with Backpack Exchange meetup resources
  docs/en/about-us/adopters.md
Labels: adopters
