Repository ClickHouse/clickhouse-docs, pull requests merged in 2024-06, with the labels that each got.

#2349 May 2024 security updates
  docs/en/cloud/manage/backups.md
  docs/en/cloud/reference/architecture.md
  docs/en/cloud/reference/changelog.md
  docs/en/cloud/security/accessing-s3-data-securely.md
  docs/en/cloud/security/audit-logging.md
  docs/en/cloud/security/cloud-access-management.md
  docs/en/cloud/security/cloud-authentication.md
  docs/en/cloud/security/cloud-endpoints-api.md
  docs/en/cloud/security/cmek.md
  docs/en/cloud/security/compliance-and-data-privacy-overview.md
  docs/en/cloud/security/compliance-overview.md
  docs/en/cloud/security/personal-data-access.md
  docs/en/cloud/security/private-link-overview.md
  docs/en/cloud/security/security-companion-guide.md
  docs/en/cloud/security/setting-ip-filters.md
  docs/en/cloud/security/shared-responsibility-model.md
  docs/en/faq/troubleshooting.md
  docs/en/get-started/cloud-quick-start.md
  docs/en/guides/sre/user-management/index.md
  docs/en/integrations/data-ingestion/clickpipes/object-storage.md
  docs/en/integrations/data-visualization/splunk-and-clickhouse.md
  docs/en/integrations/migration/clickhouse-to-cloud.md
  docusaurus.config.js
  sidebars.js
Labels: cloud

#2360 Time Series: Gap Fill
  docs/en/guides/developer/time-series-filling-gaps.md
Labels: guide

#2393 Adding security integrations
  docs/en/integrations/images/logos/acceldata_logo.png
  docs/en/integrations/images/logos/blinkops_logo.png
  docs/en/integrations/images/logos/ops_ramp_logo.png
  docs/en/integrations/images/logos/restack_logo.png
  docs/en/integrations/images/logos/sematext_logo.png
  docs/en/integrations/images/logos/skywalking_logo.jpeg
  docs/en/integrations/images/logos/snappy_flow_logo.png
  docs/en/integrations/images/logos/soda_logo.png
  docs/en/integrations/images/logos/teleport_logo.png
  docs/en/integrations/index.mdx
Labels: integrations

#2419 Remove private preview note from configurable backups
  docs/en/cloud/manage/backups.md
Labels: cloud
